<article class="post">
      <div class="title">
        <a href="/post/{{id}}">{{title}}</a>
       ({{format_date created_at}})
      </div>
      <div class="meta">
        
      </div>
</article>